




<h1><%= @offres.titre %></h1>





<div class="container">

<!--  <%= image_tag("logo1.jpeg", :alt => "Application Exemple", :class => "round",  :height => "600",  :width => "400") %> -->

<div class="image">
<img alt="Application Exemple"  src="/images/<%= @offres.photo %>" height="400" width="400"/>
</div>

<div class="description">

<div class="ingredients">

	Description: <%= @offres.description %> 

</div>


<div class="adresse">

	Description: <%= @offres.photo %> 

</div>




<div class="prix">
<p>
<h3>Medium: <%= @offres.prix_medium %> € </h3>
</p>
<p>
<h3>Large: <%= @offres.prix_large %> € </h3>

</p>

<p>
<div class="bouton1">
  <ul>
    <li><a href="#">Reserver</a></li>
    
  </ul>
</div>
</p>


</div>


 



</div>





<br class="clear" /> 


</div>